---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate, getDisplayPosts } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
// 获得prev和next文章的链接和标题

const collection = await getCollection("posts");
const posts = getDisplayPosts(collection);
const currentIndex = posts.findIndex((p) => p.slug === post.slug);
const prevPost = currentIndex > 0 ? posts[currentIndex - 1] : null;
const nextPost =
  currentIndex < posts.length - 1 ? posts[currentIndex + 1] : null;
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  prev_url={prevPost ? `/posts/${prevPost.slug}` : undefined}
  next_url={nextPost ? `/posts/${nextPost.slug}` : undefined}
  prev_title={prevPost ? "《" + prevPost.data.title + "》" : undefined}
  next_title={nextPost ? "《" + nextPost.data.title + "》" : undefined}
  date={formatDate(post.data.date)}
>
  <main
    class="flex max-w-2xl flex-col items-start justify-center text-wrap md:mx-auto md:gap-6 md:px-4 md:py-8"
  >
    <h1 class="mb-5 text-2xl font-bold">
      {post.data.title}
    </h1>
    <article class="prose prose-zinc max-w-none break-words">
      <Content />
    </article>
  </main>
</Layout>
